body {
    text-align: center;
    background: linear-gradient(darkblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    
}
h2 {
    font-size: 35px;
    color: red;
}
.btn {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(black, gray);
    color: white;
}
.section {
    border: 10px solid black;
    padding: 25px 25px;
    margin: 0px 5px 0 0;
    border-radius: 50px;
}
.section-title {
    border: 10px solid black;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center
}